.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.background-image-body {
 background-image: url(../images/curso11.jpg);
 background-size:100% auto;
 background-repeat: repeat-y;
}

.row-login{
  margin-top: 117px;
  margin-left: 0px;
}

.title-login{
  font-family: 'Architects Daughter', cursive;
  font-size: -webkit-xxx-large;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

i.icon-grey {
    color: grey;
}

.size-icon{
     height: 65px;
     margin-top: -13px;
}

.badgeNotification{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  height: 17px;
  width: 17px;
  line-height: 1;  
  color: white;
}

.paddinRight13px{
    padding-right: 13px;
}

.marginRight13px{
    margin-right: 13px;
}

.margin-top-15{
  margin-top: 15px;
}

.margin-top-13{
  margin-top: 13px;
}

.color-nav-bar{
    background: #33363b;
    color: white;
    font-weight: bold;
}

.img-perfil{
  height: 65px;
  width: 65px;
}

ul.paginationJos li{
  background-color: rgb(59, 114, 187);
  border: none;
  padding: 1px 10px;
  margin: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}

ul.paginationJos li a{
  color: white;
}