<div class="row row-login">
   <div class="col-sm-5 mr-md-auto">        
        <div class="card">
            <div class="card-body">
                <form id="frmLogin" name="frmLogin" novalidate>
                        <div class="row">
                            <div class="col-12">
                                <h1 class="title-login">Mis cursos</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>                                        
                                    </span>
                                    <input type="text" class="form-control" autofocus placeholder="Correo" required ng-model="data.email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>
                                    <input type="password" class="form-control" placeholder="Password" required ng-model="data.password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <button class="btn btn-raised btn-info col-12" ng-click="access(frmLogin)"> Accesar</button>
                                <button class="btn btn-raised btn-success col-12" ng-click="register()"> Registrarme</button>
                            </div>
                        </div>
                </form>                
            </div>
        </div>
   </div>
</div>
