<ng-camera
    capture-message="Foto tomada!"
    countdown="3"
    output-height="160"
    output-width="213"
    viewer-height="320"
    viewer-width="426"
    image-format="jpeg"
    jpeg-quality="100"
    action-message="Tomar foto"
    snapshot="photo"
    flash-fallback-url="/vendors/webcamjs/webcam.swf"
    overlay-url="/overlay.png"
    shutter-url="/shutter.mp3"
></ng-camera>
<br>
<button class="btn btn-primary" ng-click="save()">Save</button>
<img ng-src="{{photo}}" alt="imagen">
<button type="button" class="btn btn-danger bmd-btn-fab active">
  <i class="material-icons">grade</i>
</button>