<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">-->
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/css/bootstrap-material-design.min.css">
    <!--<link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">-->
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../bower_components/angular-block-ui/dist/angular-block-ui.min.css"/>
    <link rel="stylesheet" href="../bower_components/AngularJS-Toaster/toaster.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="appApp" ng-class="{'background-image-body': showLogin == false}" style="font-size: small;" ng-controller="NavCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-show="showLogin">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a href="#!" class="navbar-brand"><img src="./images/icono.png" class="size-icon"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarPrimario" aria-controls="navBarPrimario" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navBarPrimario">  
        
            <form class="form-inline col-7  ml-md-auto">
               <select class="custom-select marginRight13px">
                        <option value="">Cuenta bancaria Etiqueta/HSBC</option>
                </select>
               <select class="custom-select marginRight13px">
                    <option>Cuenta SAT RFC - 3456</option>
                  </select>
                <a href="#" class="marginRight13px"> <i class="fa fa-bell fa-2x icon-grey" ></i><span class="badge badge-pill badge-danger">30</span></a>
                <button type="button" class="btn btn-raised btn-danger" ng-click="salir()"><i class="fa fa-power-off"></i> Cerrar sesión</button>  
                
            </form>
          </div>
          
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                  <li class="nav-item input-group paddinRight13px" style="width:335px;">
                    <span class="input-group-addon icon-grey" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input class="form-control" type="text" placeholder="Buscar sección, documento, nombre" aria-label="Search"  aria-describedby="basic-addon1">
                  </li>
                  <li class="nav-item paddinRight13px">
                    <button class="btn btn-primary active">Todo</button>
                  </li>
                  <li class="nav-item paddinRight13px">
                    <select class="custom-select" required>
                      <option value="">Anual</option>
                    </select>
                  </li>
                  <li class="nav-item paddinRight13px">
                    <select class="custom-select" required>
                      <option value="">Mensual</option>
                    </select>
                  </li>
                  <li class="nav-item paddinRight13px">
                      <span class="col-sm-6">Por periodo:</span>
                      <select class="custom-select" required>
                        <option value="">Mensual</option>
                      </select>
                      <select class="custom-select" required>
                        <option value="">Mensual</option>
                      </select>
                  </li>
              </ul>
               <form class="form-inline col-sm-2  ml-md-auto">
                <button type="button" class="btn btn-raised btn-primary"><i class="fa fa-undo  fa-flip-horizontal"></i> Actualizar Cuentas</button>                            
              </form>              
          </div>
      </nav>       
    </div>
    <toaster-container toaster-options="{'close-button': true}"></toaster-container>

    <div class="row" style="font-size:small; margin-right: 0px;">
      <div ng-class="{'col-sm-2': showLogin == true}" class="color-nav-bar" style="margin-top: -30px;"  ng-show="showLogin">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
          <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-expanded="true" ng-click="stateGo('app-dashboard')"><i class="fa fa-tachometer fa-2x col-4"></i> Dashboard</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-profile" aria-expanded="true" ng-click="stateGo('app-estudiantes')"><i class="fa fa-users fa-2x col-4"></i> Estudiantes</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-messages" aria-expanded="true" ng-click="stateGo('app-courses')"><i class="fa fa-mortar-board fa-2x col-4"></i> Cursos</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-settings" aria-expanded="true" ng-click="stateGo('app-instructores')"><i class="fa fa-user fa-2x col-4"></i> Instructores</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-perfil" aria-expanded="true"  ng-click="stateGo('app-perfil')"><i class="fa fa-gitlab fa-2x col-4"></i> Perfil</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-settings" aria-expanded="true" style="font-size: small;"><i class="fa fa-cog fa-2x col-4"></i> Configuración</a>
        </div>       
      </div>
      <div ng-class="{'col-sm-10': showLogin == true, 'col-sm-12': showLogin == false}">
        <div ui-view></div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->        
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="../bower_components/angular-route/angular-route.min.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="../bower_components/angular-ui-router/release/stateEvents.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.min.js"></script> 
        <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="../bower_components/angular-touch/angular-touch.min.js"></script>
        <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>        
        <script src="../bower_components/popper.js/dist/umd/popper.js"></script>
        <script src="../bower_components/bootstrap-material-design/js/bootstrap-material-design.min.js"></script>
        <script src="../bower_components/chart.js/dist/Chart.min.js"></script>
        <script src="../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
        <script src="../bower_components/angular-block-ui/dist/angular-block-ui.min.js"></script>
        <script src="../bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
        <script src="../bower_components/webcamjs/webcam.min.js"></script>
        <script src="../bower_components/ng-camera/dist/ng-camera.js"></script>  
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>   
        <script src="../bower_components/AngularJS-Toaster/toaster.min.js"></script>  
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/constants.js"></script>
        <script src="scripts/services/courses.js"></script>
        <script src="scripts/controllers/courses/list.js"></script>
        <script src="scripts/controllers/estudiantes/listado.js"></script>
        <script src="scripts/controllers/instructores/listado.js"></script>
        <script src="scripts/services/students.js"></script>
        <script src="scripts/services/instructors.js"></script>
        <script src="scripts/directives/doughnutgauge.js"></script>
        <script src="scripts/services/interceptorhttp.js"></script>
        <script src="scripts/controllers/nav.js"></script>
        <script src="scripts/controllers/usuario/perfil.js"></script>
        <script src="scripts/controllers/estudiantes/frmestudiantes.js"></script>
        <script src="scripts/controllers/usuario/login.js"></script>
        <script src="scripts/controllers/usuario/register.js"></script>
        <script src="scripts/services/users.js"></script>
        <!-- endbuild -->
</body>
</html>
