<div class="card">
    <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h5 class="card-title">{{defaults.titulo}}</h5>
          </div>         
        </div>
        <hr>
        <form id="frmEstudiantes" name="frmEstudiantes" novalidate>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre completo" ng-model="data.name">
                    </div>
                </div>
                <div class="col-6">                    
                    <div class="form-group">
                        <label for="email">Correo</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="correo@gmail.com" ng-model="data.email">                
                    </div>
                </div>
            </div>
             <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                        <label for="major">Grado de escolaridad</label>
                        <input type="text" class="form-control" id="major" name="major" placeholder="Grado" ng-model="data.major">
                    </div>
                  </div>
                  <div class="col-6">                     
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="data.password">
                    </div>
                  </div>
             </div>
          
            <button type="submit" class="btn btn-raised btn-success" ng-click="save(frmEstudiantes)"><i class="fa fa-save"></i> Guardar</button>
        </form>     
    </div>
</div>