<div class="card">
    <div class="card-body">
        <div class="row">
          <div class="col-sm-9">
            <h5 class="card-title">Estudiantes</h5>
          </div>
          <div class="col-sm-2">
            <a class="btn btn-raised btn-primary" ui-sref="app-estudiantes-agregar"><i class="fa fa-plus"></i> Nuevo</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Grado</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="estudiante in estudiantes">                  
                        <td>{{estudiante.name}}</td>
                        <td>{{estudiante.email}}</td>
                        <td>{{estudiante.major}}</td>
                        <td>
                          <a class="btn btn-raised btn-info btn-sm" ui-sref="app-estudiantes-editar({id:estudiante.id})"><i class="fa fa-pencil"></i></a>
                          <button class="btn btn-raised btn-danger btn-sm"><i class="fa fa-remove"></i></button>
                        </td>
                      </tr>               
                    </tbody>                                                              
                </table>
                <ul uib-pagination class="paginationJos" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
          </div>
        </div>
    </div>
</div>