<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-9">
              <h5 class="card-title">Instructores</h5>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-raised btn-primary" ui-sref="app-estudiantes-agregar"><i class="fa fa-plus"></i> Nuevo</a>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Biografia</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="instructor in instructores">                  
                    <td>{{instructor.name}}</td>
                    <td>{{instructor.email}}</td>
                    <td>{{instructor.bio}}</td>
                    <td>
                      <a class="btn btn-raised btn-info btn-sm"><i class="fa fa-pencil"></i></a>
                      <button class="btn btn-raised btn-danger btn-sm"><i class="fa fa-remove"></i></button>
                    </td>
                  </tr>               
                </tbody>
              </table>
              <ul uib-pagination class="paginationJos" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
          </div>
        </div>        
    </div>
</div>