<div class="row">
   <div class="col-sm-3">
    <div class="card text-white bg-secondary">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-bell"></i> Recordatorio</h5>
        <h4 class="card-title">Lunes, 15 Julio</h4>
        <p class="card-text">Enviar declaraciones y reportes a Juan</p>                
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <doughnut-gauge gauge-size="105" gauge-options="doughnutOptions" gauge-colors="doughnutColors"
                gauge-value="{{stats.AVG_SCORE}}" gauge-title="Average Score" sub-title="({{stats.SCORED}} scores)">
              </doughnut-gauge> 
              <span>Total de facturas</span>           
          </div>
          <div class="col-sm-4">
            <doughnut-gauge gauge-size="105" gauge-options="doughnutOptions" gauge-colors="doughnutColors"
                gauge-value="{{stats.AVG_SCORE}}" gauge-title="Average Score" sub-title="({{stats.SCORED}} scores)">
              </doughnut-gauge>
              <span>Total de facturas</span>            
          </div>
          <div class="col-sm-4">
              <doughnut-gauge gauge-size="105" gauge-options="doughnutOptions" gauge-colors="doughnutColors"
                gauge-value="{{stats.AVG_SCORE}}" gauge-title="Average Score" sub-title="({{stats.SCORED}} scores)">
              </doughnut-gauge>   
              <span>Total de facturas</span>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top-13">
  <div class="col-sm-7">
      <div class="card">
        <div class="card-body">
          <canvas id="base" class="chart chart-line"
            chart-data="data" chart-labels="labels" chart-colors="colors"
            chart-dataset-override="datasetOverride" >
          </canvas>
        </div>
      </div>    
  </div>
  <div class="col-sm-4">
     <div class="card">
        <div class="card-body">
            <h4 class="card-title"><button class="btn btn-raised btn-primary">Ingresos</button> <button class="btn btn-primary">Egresos</button></h4>
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr>                  
                  <td>Otto</td>
                  <td >{{1000|currency}}</td>
                </tr>
                <tr>                 
                  <td>Thornton</td>
                  <td>{{18|currency}}</td>
                </tr>
                <tr>                  
                  <td>the Bird</td>
                  <td>{{10901|currency}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="card-footer">            
            <ul uib-pagination class="paginationJos" total-items="10" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
     </div>
  </div>
</div>

